.form-contact{
  display: flex;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #666666;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 35px;
}
.book-container{
  position: relative;
  top:20%;
  margin-top: 100px;
}
.book{
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 35px;
  flex-direction: column;
}
.catalog{
  display: flex;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #666666;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  margin-left: 22px;
  padding-bottom: 25px;
}
.order-name{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #448899;
margin-right: 5px;
}
.order-trip{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #666666;
margin-right: 5px;
min-width: 45px;
}
.no-order-sec{
text-align: center;
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
max-width: 1000px;
margin: 0 auto;
display: none;
}
.no-order{
  margin-left: 5px;
}

.order-sec{
  display: none;
}

.trip-info{
  max-width: 1000px;
  margin: 0 auto;
}

.upper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.booker{
  display: flex;
  height: 100px;
}
.trip-img-container{
  display: flex;
  flex-direction: column;

}
.form-input{
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 5px;
  height: 38px;
  width: 200px;
  margin-left: 5px;
  padding-left: 10px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.trip-img-sec{
  height: 200px;
  display: flex;
  justify-content: center;
}
.trip-img{
  width: 266px;
}

.book-info{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-left: 22px;
  margin-bottom: 22px;
}
.order-name-sec{
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #448899;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 5px;
}
.order-trip-sec{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
display: flex;

}
.form-qa{
  margin-top: 15px;

font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #666666;
}
.trip-price{
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 16px;
display: flex;
color: #666666;
}

.form-detail{
  margin-top: 24px;
}
.book-delete{
  height: 30px;
  width: 30px;
  cursor: pointer;

}
#border{
  max-width: 1200px;
  border: 1px solid rgb(194, 192, 192);
  border-top: 1px;
  margin: 0 auto;
  margin-top: 40px;
}

.order-form-sec{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.book-reminder{
  margin-top: 20px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.book{
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}
.price-total{
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

/* mobile: <= 600px, min 360px */
@media (max-width: 600px) {

  .form-contact{
    margin: 35px 10px 0 10px;
  }
  .trip-info{
    margin: 0 10px;
  }

  .trip-img{
    width: 100%;
    height: 256px;
    
  }
  .form-detail{
    margin: 24px 10px;
  }

  .upper{
    display:block;

  }

  .book-reminder{
    margin: 0 10px;
  }

  .book-info{
    margin: 80px 0;
  }
}