
body
{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  position: relative;
  color: #666666;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

img{
  object-fit:cover;
  height: 100%;
  overflow: auto;
}
  
 
.nav-bar {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E8E8E8;
}
  
.nav {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  margin: 10px 0;
}
  
.theme {
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px;
  width: 150px;
  height: 34px;
  line-height: 34px;
  color: #448899;
}
  
.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: end;
  text-align: center;
}
  
.btn {
  line-height: 14px;
  margin: 10px;
  cursor: pointer;
}
  
#img {
  width: 100%;
  height: 100%;
  z-index:-1;
  border-radius: 5px;
}

#image {
  width: 540px;
  height: 406px;
}
  
  
.arrow {
  position: relative;
  width: 100%;
  top: 50%;
}
  
#left-arrow {
  position: absolute;
  left: 10px;
  cursor: pointer;
  top: 45%;
  z-index: 1;
  opacity:0.8;
}
  
#right-arrow {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 45%;
  
  opacity:0.8;
}

.circle-sec{
  position: relative;
  width: 100%;
  top: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
  
.circle-black{
	background-color: black !important;	
}

.circle {
  position: absolute;
  cursor: pointer;
  top: 85%;
  
}

.circle-sec li{
	z-index: 2;
	border: solid 1px white;
	background-color: white;
	border-radius:60%;
	width:12px;
	height:12px;
	margin:3px 3px 0px 3px;
	display: inline-block; /* put circles side by side*/
	list-style: none;  
  text-align: center;
}

#name {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
}
  
#info {
  margin: 15px 0;
  color: #666666;
}
  
.form {
  height: 300px;
  background: #E8E8E8;
  border-radius: 5px;
  margin-top: 8px;
  overflow: auto;
  
}
  
.form-title {
  font-weight: bold;
  margin: 15px 20px;
}
  
.info {
  margin: 15px 20px;
}
  
input[type='button'] {
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  background: #448899;
  border-radius: 5px;
  border: 0;
  width: 154px;
  height: 36px;
  margin: 10px 20px;
  cursor: pointer;
}
  
input[type='date'] {
  height: 35px;
  cursor: pointer;
}
  
  
.radio {
  display: flex;
  margin: 0 10px;
}
  
.radio-input {
  width: 22px;
  height: 22px;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
  
.mark {
  width: 100%;
  height: 100%;
  border: 2px solid #FFFFFF;
  background-color: #448899;
  border-radius: 50%;
}

  
#am .mark {
  visibility: visible;
}
  
#pm .mark {
  visibility: hidden;
}

.radio-text {
  cursor: pointer;
  padding-left: 4px;
  font-weight: normal;
}

.inline {
  display: flex;
  font-weight: bold;
  margin: 15px 20px;
  align-items: center;
}
  
.price {
  font-weight: normal;
}
  
.lower-sec {
  border-top: 1px solid #E8E8E8;
  padding: 30px 10px 60px 10px;
  margin: auto;
  line-height: 23px;
}
  
.lower-sec > div{
  margin: 20px 10px;
}
  
.subtitle {
  margin: 20px 0 5px 0;
  font-weight: bold;
}
  
#footer {
  width: 100%;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: #757575;
  line-height: 104px;
  position: absolute;
  margin-bottom: end;
}
  
/* Media Query for Laptops and Desktops */
@media all and (min-width: 1200px) {
  .nav {
    width: 1200px;
  }
  
  .upper-sec {
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 94px auto 70px auto;
    padding: 0 15px;
  }

  .upper-right {
    height: 400px;
    margin: 0 0 0 30px;
  }
  
  .form {
    width: 600px;
  }
  
  .lower-sec {
      width: 1200px;
  }

 
  
  .circle{
    width: auto;
    margin: 0px auto 0px auto;
    
  }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 601px) and (max-width: 1199px){
  .upper-sec {
    width: 100vw;
    display: flex;
    margin: 94px auto 40px auto;
    padding: 0 15px;
  }
  
  
  .upper-right {
    width: 50vw;
    padding: 0 0 0 15px;
  }

	.circle{
		position:absolute;
	}

  #img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .circle-sec {
    top: 68%;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 800px) and (max-width: 1199px){
  .circle-sec {
    top: 82%;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 700px) and (max-width: 799px){
  .circle-sec {
    top: 77%;
  }
}
  
/* mobile: <= 600px, min 360px */
@media (max-width: 600px) {

  .nav-bar{
    width: 100vw;
  }

  .nav {
    width: 100%;
		top: 0;
  }

  .btn-container {
    display: flex;
  }

  .upper-sec {
    margin: 94px auto 20px auto;
    
    padding: 0;
    overflow: hidden;
    display: block;
    position: relative;
  }

  #image{
    max-width: 100%;
  }

  .form{
    width: 100vw;
    height: auto;
  }
  .lower-sec {
    display: block;
    width: 100vw;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
  }
  
  #transport{
    margin-right: 15px;
  }
  #image {
  width: 100%;
  aspect-ratio: 466/350;
  height: auto;
  left: -53px;
  top: 0px;
  }
  
  .arrow {
    align-items: center;
  }

  

  
  .upper-right {
    width: 100vw;
    padding: 5px 10px;
  }
  
  .form {
    width: 100%;
  }

  
	.circle{
    position:absolute;
	}

  #footer{
    width:100vw;
  }
	
}

/* The modal - hidden by default */
.modal-bottom {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.25); /* Black w/ opacity */
  width: 100vw;
  height: 100vh;
  top: 0;
}

#login {
  display: none;
}

#signup {
  display: none;
}

.modal {
  color: #666666;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  width: 340px;
  margin: 80px auto auto auto;
}

.deco {
  width: 100%;
  height: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.modal-content {
  position: relative;
  margin: 15px;
  z-index: 2;
}

/* The Close Button */
.close {
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
  width: 16px;
  height: auto;
}

#login-acc {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 10px 0 15px 0;
}

#form-login > .input {
  width: 310px;
  height: 47px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

#form-login > input[type='text'], input[type='password'] {
  padding: 15px;
  color: #666666;
  font-size: 16px;
}

input[type='submit'] {
  width: 310px;
  height: 47px;
  background: #448899;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: content-box;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 0;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.switch {
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0 15px 0;
  cursor: pointer;
}


/* The modal - hidden by default */
.modal-bottom {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.25); /* Black w/ opacity */
  width: 100vw;
  height: 100vh;
  top: 0;
}

#login-form {
  display: none;
}

#logout{
  display: none;
}

#signup-form {
  display: none;
}

.modal {
  color: #666666;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  width: 340px;
  margin: 80px auto auto auto;
}

.deco {
  width: 100%;
  height: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.modal-content {
  position: relative;
  margin: 15px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
  width: 16px;
  height: auto;
}

.form-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 10px 0 15px 0;
}

.form-member > .input {
  width: 310px;
  height: 47px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-member > input[type='text'], input[type='password'] {
  padding: 15px;
  color: #666666;
  font-size: 16px;
}

input[type='submit'] {
  width: 310px;
  height: 47px;
  background: #448899;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: content-box;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 0;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.switch {
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0 15px 0;
  cursor: pointer;
}