<!DOCTYPE html>
<html lang="zh-tw" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
    <script type="text/javascript" src="../static/index.js" defer></script>
    <title>Taipei Attractions</title>
</head>
<body onload="load()">
    <div class='nav-bar'>
        <div class='nav'>
          <div class='theme'>台北一日遊</div>
          <div class='btn-container'>
            <div class='btn'>預定行程</div>
            <div class='btn' onclick="openForm()">登入/註冊</div>
          </div>
        </div>
      </div>
      <div class='hero-block'>
        <div class='hero'>
          <div class='hero-content'>
            <div class='hero-title'>輕鬆享受台北一日悠閒</div>
            <div class='hero-subtitle'>探索每個角落，體驗城市的深度旅遊行程</div>
              <div class='search'>
                <input type="text" placeholder='輸入景點名稱查詢'>
                <button id='search' type="submit" onclick="search()">
                  <img src='../static/IMG/icon_search.png'>
                </button>
              </div>
          </div>
        </div>
      </div>
      <div class='attractions'>
        <div id='grid-container'>
        </div>
      </div>
      <!-- The Modal -->
      <div class='modal-bottom' id="login">
        <div class='modal'>
          <div class='deco'></div>
          <div class='modal-content'>
            <img class='close' src='../static/IMG/dialog.png' onclick="closeForm()">
            {% block content %}
            <form class='form' action="{{ url_for('login')}}" method="get">
              <div class='form-title'>登入會員帳號</div>
              <input type='text' class='input' name='email' placeholder='輸入電子信箱' value="" required>
              <input type='password' class='input' name='password' placeholder='輸入密碼' value="" required><br>
              <input type="submit" value='登入帳戶' class='submit'>
              <div class='error'></div>
              <div class='switch'>還沒有帳戶？點此註冊</div>
            </form>
            {% endblock %}
          </div>
        </div>
        <div class='modal' id='signup'>
          <div class='deco'></div>
          <div class='modal-content'>
            <img class='close' src='../static/IMG/dialog.png'>
            <form class='form' action="{{ url_for('login') }}" method="post">
              <div class='form-title'>註冊會員帳號</div>
              <input type='text' class='input' name='name' placeholder='輸入姓名' value="" required>
              <input type='text' class='input' name='email' placeholder='輸入電子信箱' value="" required>
              <input type='password' class='input' name='password' placeholder='輸入密碼' value="" required><br>
              <input type='submit' value='註冊新帳戶' class='submit'>
              <div class='error'></div>
              <div class='switch'>已經有帳戶了？點此登入</div>
            </form>
          </div>
        </div>
      </div>
      <footer id='footer'>COPYRIGHT © 2021 台北一日遊</footer>
</body>
</html>